*{
    padding:0;
    margin:0;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
}
header{
    display: flex;
    width: 100%;
    border-bottom-color: black;
    position: fixed;
    border-bottom-color: black;
    height: 80px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    z-index: 2;
    top: 0px;
}
#logo{
    height: 75px;
    padding-right: 50px;
    padding-top: 0px;
}
#abonner{
    background-color: rgb(245, 221, 219);
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
}
#abonner:hover{
    text-decoration: underline;
    color: rgb(220, 48, 126);
}
.center{
    text-align: center;
    margin-left: 50%;
    margin-bottom: 50px;
}
header nav{
    padding-top: 30px;
    justify-content: center;
    padding-left: 5%;
}

header nav a{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
    padding-right: 100px;
}
nav a:hover{
    text-decoration: underline;
    color: rgb(220, 48, 126);
}
.dropdown{
    position: relative;
    display: inline-block;
  }
  
.dropdown-content{
    display:none;
    color: black;
    position: absolute;
    z-index: 1;
    min-width: 240px;
    background-color: rgb(245, 221, 219);
    text-align: left;
    font-size: 12px;
    padding: 10px;
}
.dropdown-content a:hover{
    text-decoration: none;
    color: rgb(220, 48, 126);
    text-decoration: underline;
}
.dropdown:hover .dropdown-content{
    display: block;   
}

.footer{
    display: flex;
    height: 250px;
    width:100%;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    background-color: rgb(245, 221, 219);
    margin-top: 100px;
    justify-content: space-evenly;
    padding-top: 50px;
}
.flexbox2{
    display: flex;
    margin: auto;
    margin-top: 200px;
    width:1300px;
    height: 900px;
    align-items:center;
    background-color: rgb(245, 221, 219);
    padding-left: 30px;
}

.leonora{
    margin-bottom: 100px;
    margin-top: 100px;
}
.centerbox{
    display: flex;
    width: 600px;
    height: 300px;
    margin: auto;
    margin-bottom: 0px;
}
.centerboxtop{
    position: relative;
    width: 600px;
    height: 300px;
    margin: auto;
    margin-bottom: 0px;
    margin-top: -200px;
    margin-bottom: 0px;
}
.centerboxslut{
    width: 600px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 150px;
}
.centerboxblur{
    position: relative;
    width: 600px;
    height: 300px;
    margin: auto;
    margin-bottom: 0px;
    margin-top: -600px;
    margin-bottom: 500px;
    text-align: center;
    background-color: white;
    padding-top: 100px;
}
.lav{
    height:150px;
    margin-top: 100px;
}
.flexbox3{
    display: flex;
    margin: auto;
    margin-top: 50px;
    padding-left: 50px;
    width:1300px;
    height: 700px;
    align-items: center;
    background-color: rgb(245, 221, 219);  
    margin-bottom: 100px;
}

.flexboxhvid{
    display: flex;
    margin:auto;
    margin-top: 150px;
    width:1300px;
    height: 450px;
    align-items: center;
    background-color: white;
    padding-left: 70px;
}
.flexboxlille{
    display: flex;
    margin:auto;
    margin-top: 100px;
    width:1300px;
    height: 450px;
    align-items: center;
    background-color: rgb(245, 221, 219);
    padding-left: 50px;
}
.flexbox5{
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    width:1350px;
    height: 450px;
    align-items: center;
   justify-content: space-evenly;
}
.hvid{
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}
h2{
    color: rgb(245, 221, 219);
    font-size: 50px;
}
.kort{
    width: 600px;
    height: 800px;
    margin-left: 30px;
    text-align: left;
    justify-content: center;
}

.top{
    margin: auto;
    margin-top: 150px;
    margin-bottom: z;
}
.kort2{
    width: 390px;
    height: 390px;
    margin-left: 40px;
    text-align:left;
}
.billede2{
    width: 390px;
    height: 390px;
    margin-left: 10px;
}
.kort3{
    width: 550px;
    height: 600px;
    margin-left: 30px;
    text-align: left;
    justify-content: center;
}
.kort4{
    width: 800px;
    height: 600px;
    margin-left: 30px;
    text-align: left;
    justify-content: center;
}
.kort5{
    width: 700px;
    height: 840px;
    margin-left: 30px;
    text-align: left;
    justify-content: center;
}
.kort6{
    width: 510px;
    height: 840px;
    margin-left: 30px;
    text-align: left;
    text-align: center;
    justify-content: space-between;
}
h5{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: black;}

.kort h1{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(106, 81, 79)
}
.kort2 h1{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(106, 81, 79)
}
.kort3 h1{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(106, 81, 79)
}
.kort4 h1{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(106, 81, 79)
}
p{  font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    line-height: 25px;
}
.overskrift{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    justify-content: center;
    text-align: center;
}
.billede{
    display: flex;
    margin:auto;
    margin-top: 150px;
    width:350px;
    height: 467px;
    align-items: center;
    background-color: rgb(245, 221, 219);
    margin-bottom: 50px;
}
.journalist{
    width: 510px;
    height: 230px;
    display: flex;
    margin-bottom: 30px;
}
.journalistfoto{
    margin-right: 30px;
    margin-left: 50px;
}
#blur{
    display: flex;
    margin:auto;
    margin-top: 150px;
    align-items: center;
    margin-bottom: 50px;
    filter: blur(5px);
}
#billedetop{
    display: flex;
    margin:auto;
    margin-top: 150px;
    align-items: center;
    margin-bottom: 50px;
}
#billedetekst{
    display: flex;
    margin: auto;
    justify-content: center;
    height: 800px;
    width: auto;
}
#bomber{
    margin-left: 30px;
    text-align: left;
    margin-top: 50px;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: rgb(220, 48, 126);
}
#logostor{
    width: 550;
    height: auto;
}
.zoom{
    margin: 10px;
    transition: transform .3s; 
    margin: 0 auto;
  }
.zoom:hover {
    transform: scale(1.05); 
  }
